<html xmlns:sec="http://www.w3.org/1999/xhtml" lang="en"
      xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>merecruta</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

</head>
<body>


<div class="container">
    <!-- Navbar content -->

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary ">

        <div class="container-fluid">
            <!-- imagem icone -->
            <img src="https://thumbs2.imgbox.com/eb/69/w0ePDAmr_t.png" alt="image host" width="30" height="24"/>

            <a class="navbar-brand" href="#">Recruta</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">

                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Início</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/sobre">Sobre</a>
                    </li>


                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            Novidades
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled">outros</a>
                    </li>

                    <!--cadastrar banco talento aqui-->
                    <a href="/formulario" class="nav-link active" aria-current="page">Cadastrar Talento</a>


                    <!-- login aqui-->
                    <a sec:authorize="!isAuthenticated()" href="/login">
                        <button class="btn btn-outline-light my-2 my-sm-0">Login</button>
                    </a>
                    <a sec:authorize="isAuthenticated()" href="/logout">
                        <button class="btn btn-outline-light my-2 my-sm-0">Logout</button>
                    </a>

                </ul>
                <!--buscador button-->
                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Banco de Talentos"
                           aria-label="Search">
                    <button class="btn btn-outline-light" type="submit">Buscar</button>
                </form>
            </div>
        </div>
    </nav>


    <!-- CARDS -->

    <div class="card text-bg-dark" th:each="cadastro : ${cadastro}">

        <div class="card-header ">
            <ul class="nav nav-pills card-header-pills ">

                <li class="mt-auto">
                    <a class="text " th:text="${cadastro.nomeUsuario}">Nome</a>
                </li>

                  <li class="mt">
                      <p class="card-text"><small class="text-muted">Rede: </small>
                      <a class="text" th:href="${cadastro.urlLinkedin}">Linkedin</a>
                  </li>

                <li class="mt-auto">
                    <p class="card-text"><small class="text-muted">&ensp;Contato: </small>
                    <a class="text" th:text="${cadastro.email}">Email</a>
                </li>

                <li class="mt-auto">
                    <p class="card-text"><small class="text-muted">Pretenção Salarial: </small>
                    <a class="text" th:text="${cadastro.pretencaoSalarial}">Pretencao Salarial</a>
                </li>

                <li class="mt-auto">
                    <p class="card-text"><small class="text-muted">Trabalho: </small>
                    <a class="text" th:text="${cadastro.local}">Local</a>
                </li>

            </ul>
        </div>

        <div class="card-body">
            <h5>
                <div class="nav-fill" th:text="${cadastro.profissao}">Profissão</div>
            </h5>
<!--
            imagem do perfil
-->
            <img th:src="${cadastro.urlLinkedinImagem}" class="rounded float-start" width="200" height="200" alt="" src="">

            <div class="nav" th:text="${cadastro.descricao}">Descricao</div>
            <a href="#" class="btn btn-primary">Me recruta</a>
        </div>
    </div>


    <!--
     <div class="card text-black bg-light mb-3"  style="width: 300px" th:each="cadastro : ${cadastro}">
         <div class="card-header align-content-center" th:text="${cadastro.getProfissao}">Profissão</div>
             <div class="card-body">
                 <div class="row">
                     <div class="col-12">
                        <img th:src="${cadastro.imagemLinkedin}" class="card-img-top" alt="...">
                        <div th:text="${cadastro.nomeUsuario}" > Nome do Usuario</div>
                        <div th:text="${cadastro.email}" > Email do Usuario</div>
                        <div th:text="${cadastro.urlLinkedin}" > URL linkedin</div>
                        <div th:text="${cadastro.recrutimetro}" > Recrutimetro</div>


                        <div class="form-control" th:text="${cadastro.descricao}">Descricao</div>
                        <a href="#" class="btn btn-primary">Me Recruta</a>
                          para colocar ultima alteracao..

                          class="card-text"><small class="text-muted">Atualizados 3 minutos atrás</small></p
                    </div>
                </div>
            </div>
        </div>
    </div>-->

</div>


</body>


</html>